{
  BasedOnStyle: Microsoft,
  UseTab: ForIndentation,
  ColumnLimit: 120,
  StatementMacros: [rotate, translate],
  BreakBeforeBraces: Attach,
  SpaceBeforeParens: ControlStatements,
  SpacesInAngles: Never
}